#pre_header {

  width: 1280px;
  height: 110px;
  position: relative;
  margin: auto;
}
#pre_header p{
  user-select: auto;
  cursor: auto;
}
#testbutn{   
-webkit-transition: background 0.5s ease-out;

-moz-transition: background 0.5s ease-out;

-o-transition: background 0.5s ease-out;

transition: background 0.5s ease-out;
}
#logoPlaceHolder {
  height: 100%;
  background: url("../images/logo.png");
  width: 300px;
  float: left;

  background-size: 300px 150%;;
  display: inline-block;
}
.header_constraint {
  border: px solid transparent;
  width: 1280px;
  height: 50px;
  text-align: center;
  margin: auto;

}
#iconsConatiner{
  border: px solid black;
  float: right;
  display: inline-block;
  position: relative;
  top: 70%;
  width: 500px;

}
.marginIcons{
  margin-left: 10px;
  margin-right: 5px;
  font-size: 20px;
    color: black !important;
  float: right;
  user-select: none;
  cursor: pointer;
}
.glyphicon{
  font-size: 30px;
  text-decoration: none !important;

}
.headings {
  float: left;
  display: inline-block;
  color: black;
  font-size: 22px;
  padding-left: 30px;
  padding-right: 10px;
  cursor: pointer;
  padding-top: 8.5px;
  border: px dotted red;
  transition: 0.3s ease;
}
.headings:hover {
  color: black;
}